
.Login {
  padding: 60px 0;
}

.Form form {
  margin: 0 auto;
  max-width: 320px;
}

.event {
  padding: 15px 0;
}

.errMsg {
  color: red;
}

.createEventForm {
  margin: 30px;
  max-width: 320px;
}